.App {
	text-align: center;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media all and (min-width: 768px) {
	.App-header {
		height: 100px;
	}
}
.App-main{
	padding: 30px;
	background-image: url('../images/harry-background.jpg');
	background-color: rgba(100, 135, 146, 0.9);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain ;
}
.App-title {
	font-size: 1.5em;
	letter-spacing: 0.2em;
}
@media all and (min-width: 768px){
	.harry{
		font-size: 1.7em;
	}
}
@media all and (min-width: 900px) {
	.App-title{
		font-size: 1.7em;

	}
	.harry{
		font-size: 2em;
	}
}
.App-search{
	margin-top: 30px;
	width: 60%;
	height: 30px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 0 4px;
}
@media all and (min-width: 768px) {
	.App-search{
		width: 400px;
	}
}
.App-filter-button{
	margin-left: 10px;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}
.App-list {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
}
@media all and (min-width: 768px){
	.App-list {
		grid-column-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
