body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Harry Potter','sans-serif';	
	height: 100vh;
	font-size: 20px;
}
@font-face {font-family:"Harry Potter";src:url("./fonts/HARRP___.eot?") format("eot"),url("./fonts/HARRP___.woff") format("woff"),url("./fonts/HARRP___.ttf") format("truetype"),url("./fonts/HARRP___.svg#HarryPotter") format("svg");font-weight:normal;font-style:normal;}
